body{
    background-color: rgb(243, 240, 240);
    font-family: 'verdana';
}

  .topinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

#highscores a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.strt, .hideform{
 text-align: center;
}

#strtquiz{
    padding-left: 20%;
    padding-right: 20%;
}

#strtquiz p{
    font-weight: bold;
}

#startquizbutton{
    color: white;
    background-color: rgb(124, 86, 228);
    border-radius: 50px;
    cursor: pointer;
}

#startquizbutton:hover{
    background-color: orange;
}

.container, .btn{
    display: flex;
    flex-wrap: wrap;
    display: block;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}
.btn{
    border-width: 2.5px;
    min-height: auto;
    margin-top: 5px;
    padding: 9px;
    color: white;
    background-color: rgb(124, 86, 228);
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover, #subbutton:hover{
    background-color: orange;
}

.hideform{
    font-weight: bold;
}

#subbutton{
    background-color: rgb(124, 86, 228);
    border-radius: 25px;
    color: white;
    margin-left: 13px;
    cursor: pointer;
}