body{
    background-size: 100%;
    font-family: 'verdana';
}

  .topinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

#highscores {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    color: black;
    cursor: pointer;
}

.strt, .hideform{
 text-align: center;
}

#strtquiz{
    padding-left: 20%;
    padding-right: 20%;
}

#strtquiz p{
    font-weight: bold;
}

#startquizbutton{
    color: white;
    width: 60%;
    background-color: green;
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.container, .btn{
    display: flex;
    flex-wrap: wrap;
    display: block;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}
.btn{
    border-width: 2.5px;
    width: 75%;
    min-height: auto;
    margin-top: 5px;
    padding: 9px;
    color: black;
    background-color: tan;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#next-btn{
    border-width: 2.5px;
    width: 100%;
    min-height: auto;
    margin-top: 25px;
    padding: 9px;
    color: white;
    background-color: green;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn:disabled{
    cursor: no-drop;
}

.btn:hover, #subbutton:hover, #next-btn:hover, #startquizbutton:hover{
    opacity: 0.5;
}

.hideform{
    font-weight: bold;
}

#subbutton{
    background-color: green;
    border-radius: 25px;
    color: white;
    margin-left: 13px;
    cursor: pointer;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}