body{
    background-color: rgb(243, 240, 240);
    font-family: 'verdana';
}

.topinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

.strt, .form{
 text-align: center;
}

#strtquiz{
    padding-left: 20%;
    padding-right: 20%;
}

#strtquiz p{
    font-weight: bold;
}

#startquizbutton{
    color: white;
    background-color: rgb(124, 86, 228);
    border-radius: 50px;
}

#startquizbutton:hover{
    background-color: orange;
}

.container .button{
    display: flex;
    flex-wrap: wrap;
    display: block;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}
.button{
    border-width: 2.5px;
    min-height: auto;
    margin-top: 5px;
    padding: 9px;
    color: white;
    background-color: rgb(124, 86, 228);
    font-weight: bold;
    border-radius: 25px;
}

.button:hover, #subbutton:hover{
    background-color: orange;
}

.form{
    font-weight: bold;
}

#subbutton{
    background-color: rgb(124, 86, 228);
    border-radius: 25px;
    color: white;
    margin-left: 13px;
}